:root{
    --color-orange: #EA9633;
    --color-blue: #2196F3;
    --color-green: #07a20b;
    --color-red: #e03a3a;
    --color-blue-dark: #2f4153;
    
    --color-white: #fff;
    --color-lighter: #f2f2f2;
    --color-light: #ccc;
    --color-gray: #858585;
    --color-black: #2e3032;

    --color-green-darker-10: color-mix(in srgb, var(--color-green) 90%, #000);
    --color-green-darker-20: color-mix(in srgb, var(--color-green) 80%, #000);
    --color-green-darker-30: color-mix(in srgb, var(--color-green) 70%, #000);

    --color-red-darker-10: color-mix(in srgb, var(--color-red) 90%, #000);
    --color-red-darker-20: color-mix(in srgb, var(--color-red) 80%, #000);
    --color-red-darker-30: color-mix(in srgb, var(--color-red) 70%, #000);

    --color-scrollbar-track: #d8d8d8;
    --color-scrollbar-thumb: #b5b5b5;
}

html, body{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html, body, h1, h2, h3, ul, ol{
    padding: 0;
    margin: 0;
}

html{
    color: var(--color-black);
    background-color: var(--color-lighter);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a{
    color: var(--color-black);
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Controls */
input, button{
    border-radius: 5px;
}

input[type="text"],
input[type="url"]{
    padding: 0.7rem 0.5rem;
    border: 1px solid var(--color-gray);
}

button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.1s ease-in;
    font-size: inherit;
    font-family: inherit;
}

.btn-success{
    background-color: var(--color-green);
    color: var(--color-white);
}

.btn-success:hover{
    background-color: var(--color-green-darker-10);
}

.btn-success:active{
    background-color: var(--color-green-darker-30);
}

.btn-danger{
    background-color: var(--color-red);
    color: var(--color-white);
}

.btn-danger:hover{
    background-color: var(--color-red-darker-10);
}

.btn-danger:active{
    background-color: var(--color-red-darker-30);
}

.btn-link{
    background: transparent;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Layout */
header, main, footer, .container{
    margin: 0 auto;
    width: 90%;
}