:root{
    --color-orange: #ff521e;
    --color-blue: #2196f3;
    
    --color-white: #fff;
    --color-lighter: #f2f2f2;
    --color-light: #ccc;
    --color-gray: #858585;
    --color-black: #323232;
}

html, body{
    padding: 0;
    margin: 0;
    color: var(--color-black);
    line-height: 1.5rem;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    line-height: 3rem;
}

header, .container{
    width: 90%;
    margin: 0 auto;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* navigation */
nav{
    padding: 1.3rem 0;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--color-black);
}

.logo{
    font-weight: 700;
    font-size: 1.5rem;
}

/* header */
header{
    margin-top: 3rem;
    display: flex;
}

header img{
    max-width: 100%;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

header ul li{
    margin-right: 3rem;
    margin-bottom: 3rem;
    filter: grayscale(100) opacity(0.5);
    transition: filter 0.3s ease-in;
    cursor: pointer;
}

header ul li:hover{
    filter: grayscale(0) opacity(1);
}

header p a{
    color: var(--color-orange);
}

header p a:visited{
    color: var(--color-orange);
}

h1{
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.service-logo{
    width: 50px;
}

em{
    display: block;
    color: var(--color-gray);
}

em a{
    color: var(--color-gray);
}

/* Main > Advantages */
.advantages{
    background-color: var(--color-blue);
    background-image: url(img/main-bg.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;
    padding: 3rem 0;
}

.advantages h2{
    text-align: center;
}

.advantages ul {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.advantages ul li{
    background-color: white;
    color: var(--color-black);
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages ul li:hover{
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 3rem;
}

.advantages h3::after{
    display: block;
    content: "";
    margin: 0 auto;
    height: 0.3rem;
    width: 2rem;
    background-color: var(--color-orange);
    margin-top: 0.5rem;
}

.advantages i.fa-solid{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-black);
    color: #fff;
    border-radius: 100%;
}

/* Main > Features */
.features{
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.features div{
    flex-basis: 50%;
}

.features img{
    max-width: 100%;
}

.features p{
    color: var(--color-gray);
}

.features h3{
    font-size: 0.9rem;
    font-weight: 700;
}

.features ul{
    list-style-type: disc;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.features ul li::marker{
    color: var(--color-blue);
}

/* Footer */
footer{
    text-align: center;
    background-color: var(--color-black);
    color: #fff;
    padding: 0.5rem;
}

footer p{
    padding: 0;
    margin: 0;
}

/* Common */
.btn{
    display: inline-block;
    width: fit-content;
    background-color: var(--color-orange);
    color: #fff;
    padding: 0.8rem 2.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 2rem;
    transition: background-color 0.2s ease-in;
}

.btn:hover{
    background-color: #d3390a;
}

.btn-secondary{
    background-color: var(--color-blue);
}

.btn-secondary:hover{
    background-color: #0e74c6;
}

.btn-outline{
    text-decoration: none;
    padding: 0.5rem 2rem;
    border: 2px solid black;
    font-weight: bold;
    transition: background-color 0.3s ease-in, color 0.2s ease-in;
}

.btn-outline:hover{
    background-color: var(--color-black);
    color: #fff;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

@media only screen and (max-width: 970px){
    .img-header {
        display: none;
    }

    .features{
        grid-template-columns: 1fr;
        padding: 0;
    }

    .features img{
        display: none;
    }
}

@media only screen and (max-width: 780px){
    .advantages ul{
        grid-template-columns: 1fr;
    }
}