aside{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form{
    background-color: var(--color-white);
    min-width: 30%;
    padding: 2rem 2rem 0 2rem;
    border-radius: 5px;
}

label, input{
    display: block;
    box-sizing: border-box;
    width: 100%;
}

label{
    margin-bottom: 0.3rem;
}

input{
    margin-bottom: 1rem;
}

button[type="submit"]{
    margin-right: 0.5rem;
    margin-bottom: 2rem;
}

form p{
    color: var(--color-red);
    background-color: rgb(252, 237, 237);
    padding: 0.5rem 0.4rem;
}