/* Navigation */
nav{
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    padding: 0.7rem 0;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2px;
    background-color: var(--color-white);
    color: var(--color-blue-dark);
    font-weight: 700;
    text-align: center;
    font-size: 1.3rem;
}

li span{
    padding: 0 1rem;
    border-right: 2px solid white;
}

.btn-link{
    padding-left: 1rem;
    transition: color 0.1s ease-in;
}

.btn-link:hover{
    color: var(--color-orange);
}

i{
    font-size: 0.8rem;
    padding-left: 0.7rem;
}