<li>
    <input type="checkbox">
    
    <h3 id="campaign-title">Campaign Title</h3>
    <mark id="campaign-status">Running</mark>
    
    <button id="change-campaign-status">Stop</button>
    <button id="delete-campaign">Delete</button>
    
    <a href="#" id="redirect-link">splitify.com/njnud123Ck</a>
    
    <div>
        <a href="#" id="destination-link-a">A &#8594; google.org</a>
        <a href="#" id="destination-link-b">B &#8594; powercoders.org</a>
    </div>                

    <time id="campaign-created-at">22.02.2023</time>
</li>