<header>
    <h1>Account verification</h1>
    <p>Please, insert the verification code that you should have received on your email.</p>
</header>
<main>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <label for="code">Verification code</label>
        <input id="code" type="code" name="code" ngModel>

        <button class="btn-success" type="submit">Verify</button>
        <p *ngIf="errorMessage.length > 0">{{ errorMessage }}</p>
    </form>
    <p>Have not received the code? <button type="button" (click)="onSendAgain()">Send again</button></p>
</main>
<aside *ngIf="resendVerificationCodeRequestCompleted">
    <h2>Success!</h2>
    <p>You should receive instructions on your email. Please, check SPAM folder.</p>
    <button class="btn-success" (click)="onCloseModalClicked()">Ok</button>
</aside>
