header{
    text-align: center;
    padding: 3rem 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0rem 0rem 0.2rem #989898;
    width: 30%;
}

input{
    box-sizing: border-box;
    padding: 0.5rem 0.4rem;
    border: var(--color-gray) 1px solid;
    margin-bottom: 1.5rem;
}

button[type="submit"]{
    padding: 0.7rem 0;
}

button[type="button"]{
    padding: 0;
    color: var(--color-orange);
    font-weight: 700;
}

label{
    margin-bottom: 0.5rem;
}

aside{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

aside form, aside section{
    background-color: var(--color-white);
    min-width: 30%;
    padding: 2rem;
    border-radius: 5px;
}

aside label, aside input{
    display: block;
    box-sizing: border-box;
    width: 100%;
}

aside label{
    margin-bottom: 0.3rem;
}

aside input{
    margin-bottom: 1rem;
}

button[type="submit"]{
    margin-right: 0.5rem;
}

form p{
    color: var(--color-red);
    background-color: rgb(252, 237, 237);
    padding: 0.5rem 0.4rem;
    margin-bottom: 1rem;
    margin-top: -1rem;
}