<header>
    <h1 *ngIf="isLoginForm">Login to the app</h1>
    <h1 *ngIf="!isLoginForm">Create a new account</h1>
</header>
<main>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required ngModel email>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" required ngModel>

        <label *ngIf="!isLoginForm" for="confirmPassword">Confirm password</label>
        <input *ngIf="!isLoginForm" name="confirmPassword" id="confirmPassword" type="password" required ngModel>

        <div>
            <button class="btn-success" type="submit">{{ submitButtonText }}</button>
            <button *ngIf="isLoginForm" class="btn-link" type="button" (click)="displayResetPassword = true">Forgot password?</button>
        </div>

        <p *ngIf="errorMessage.length > 0">{{ errorMessage }}</p>
    </form>
    <p *ngIf="isLoginForm">Don't have an account? <button type="button" (click)="onToggleForm()">Sign up</button></p>
    <p *ngIf="!isLoginForm">Already have account? <button type="button" (click)="onToggleForm()">Login</button></p>
</main>
<app-reset-password *ngIf="displayResetPassword" (closed)="displayResetPassword = false"></app-reset-password>
