<header>
    <h1 *ngIf="isTokenValid">Reset password</h1>
</header>
<main>
    <form *ngIf="isTokenValid && !passwordResetCompleted" #form="ngForm" (submit)="onSubmit(form)">
        <label for="password">New password</label>
        <input id="password" type="password" name="password" ngModel>

        <label for="confirmPassword">Confirm password</label>
        <input id="confirmPassword" type="password" name="confirmPassword" ngModel>

        <button class="btn-success" type="submit">Submit</button>

        <p *ngIf="errorMessage.length > 0">{{ errorMessage }}</p>
    </form>
    <section *ngIf="passwordResetCompleted">
        <h2>Success!</h2>
        <p>Your password has been chnaged. Please, try to log into the application</p>
        <button class="btn-success" (click)="onSuccessClick()">Go to login</button>
    </section>
</main>
