<header>
    <h1 *ngIf="isTokenValid">Reset password</h1>
</header>
<main>
    <form *ngIf="isTokenValid" #form="ngForm" (submit)="onSubmit(form)">
        <label for="password">New password</label>
        <input id="password" type="password" name="password" ngModel>

        <label for="confirm-password">Confirm password</label>
        <input id="confirm-password" type="password" name="confirm-password" ngModel>

        <button class="btn-success" type="submit">Submit</button>

        <p *ngIf="errorMessage.length > 0">{{ errorMessage }}</p>
    </form>
</main>
