<header>
    <h1>Campaigns</h1>
</header>
<main>
    <section>
        <table width="100%">
            <caption>
                <button class="btn btn-success">Create</button>
            </caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Status</th>
                    <th>Redirect</th>
                    <th>Destination A</th>
                    <th>Destination B</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            
        </table>
    </section>
</main>
