<header>
    <h1>Campaigns</h1>
</header>
<main>
    <section>
        <button class="btn btn-success" (click)="onCreateCampaign()">Create</button>
        <app-create-campaign
            *ngIf="displayCreateForm"
            (campaignCreated)="onCampaignCreated($event)"
            (declined)="onCreateCampaignDeclined()">
        </app-create-campaign>
    </section>
    <section>
        <ul class="grid">
            <li><span>Name</span></li>
            <li><span>On/Off</span></li>
            <li><span>Status</span></li>
            <li><span>Redirect</span></li>
            <li><span>Destination A</span></li>
            <li><span>Destination B</span></li>
            <li><span>Created</span></li>
            <li><span>Manage</span></li>
        </ul>
        <app-campaign-item
            class="grid grid-hover" 
            *ngFor="let campaign of campaigns" [campaign]="campaign"
            (campaignDeleted)="onCampaignDeleted($event)">
        </app-campaign-item>
    </section>
</main>
